<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
</head>

<body>
    <h1>Welcome to HTML Session</h1>
    <p>H<sub>2</sub>0</p>
    <p>x<sup>2</sup></p>

    <div>
    <h3>Inside Div Container</h3>
    <p>This content is grouped using a div element.</p>
    </div>

    <p style="color:blue;font-size:20px;">Styled Text</p>

    <p>This is <span>highlighted text</span>.</p>
    <button data-userid="123">Click</button>

</body>

</html>