<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Admission Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>

<main>
    <header> 
        <h2>Student Admission Form</h2>
        <p>Please fill out all required fields to register</p>
    </header>

    <form action="/submit" method="post">

        <fieldset>
            <legend>Personal Information</legend>

            <!-- Name -->
            <label for="name">First Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your first name" required>

            <!-- Middle Name -->
            <label for="middlename">Middle Name</label>
            <input type="text" id="middlename" name="middlename" placeholder="Enter your middle name if applicable">

            <!-- Last Name -->
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>

            <!-- Email -->
            <label for="email"> Email Address:</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>

            <!-- Registration Number -->
            <label for="registrationnumber">Registration Number</label>
            <input type="number" id="registrationnumber" name="registrationnumber" placeholder="Enter a your registration number" required>

            <!-- Enrollment Date -->
            <label for="enrollmentdate"> Enrollment Date:</label>
            <input type="date" id="enrollmentdate" name="enrollmentdate" required>

            <!-- Gender -->
            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="">--Select--</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Address Details</legend>

            <!-- Address Line 1 -->
            <label for="addressline1"> Address Line1:</label>
            <input type="text" id="addressline1" name="addressline1" placeholder="Street address, P.O box, company name, c/o" required>
            <!-- Address Line 2 -->
            <label for="addressline2"> Address Line2:</label>
            <input type="text" id="addressline2" name="addressline2" placeholder="Apartment, suite, unit, building, floor, ect.">
            <!-- City -->
            <label for="city"> City:</label>
            <input type="text" id="city" name="city" placeholder="" required>
            <!-- State/Province/Region -->
            <label for="stateprovinceregion"> State/Province/Region:</label>
            <input type="text" id="stateprovinceregion" name="stateprovinceregion" placeholder="" required>
            <!-- ZIP/Postal Code -->
            <label for="zippostalcode"> ZIP/Postal Code:</label>
            <input type="text" id="zippostalcode" name="zippostalcode" placeholder="" required>
            <!-- Country -->
            <label for="country"> Country:</label>
            <input type="text" id="country" name="country" placeholder="" required>
        </fieldset>
            
        <fieldset>
            <legend>Additional Comments</legend>
            <!-- Message -->
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="4" placeholder="Write your message here..."></textarea>
            </fieldset>

        <div class="form-actions">
            <button type="submit">Submit Admission</button>
        </div>

    </form>
</main>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>